.mimo-mwot-setting{
	max-width: 644px;
}
#provider-sortable h3{
	position: relative;
	margin: 0;
	padding:  12px 10px;
	font-size: 1em;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fafafa;
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#provider-sortable h3:after{
	position: absolute;
	right: 5px;
	top: 7px;
	content: "\f140";
	border: none;
	background: 0 0;
	font: 400 20px/1 dashicons;
	speak: none;
	display: block;
	padding: 0;
	text-indent: 0;
	text-align: center;
	cursor: pointer !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
}
#provider-sortable h3.is-active:after{
	content: "\f142";
}

#provider-sortable h3:hover{
	border-color: #999;
}
#provider-sortable .list_item{
	width: 400px;
	margin-bottom: 10px;
}
#provider-sortable .list_item .widefat{
	width: 100%;
}
#provider-sortable .ui-state-highlight{
	border: dashed 1px  #ccc;
	height: 40px;
}

#provider-sortable .list_item > div{
	display: none;
	padding: 15px;
	position: relative;
	z-index: 10;
	border: 1px solid #e5e5e5;
	border-top: none;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
#provider-sortable .list_item > div label{
	margin-bottom: 15px;
	display: block;
  font-size: 13px;
  font-style: italic;
  color: #666;
}
#mimo-shipment-tracking .spinner{
	visibility: hidden !important;
}
#mimo-shipment-tracking .spinner.active{
	visibility: visible !important;
}